@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

:root {
  --main-color: #fff6e8;
  --side-bar-color: #1f1e1d;
  --header-color: #9b948b;
  --margins: 5px;
}
html {
  box-sizing: border-box;
}
body {
  font-family: "Manrope", sans-serif;
}
header {
  width: 100%;
  background-color: var(--header-color);
  padding: 10px;
  height: 50px;
  box-shadow: -1px 10px 5px 1px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-name {
  font-weight: 700;
  font-size: 2.2em;
}

.content {
  display: grid;
  grid-template-columns: 100px 1fr;
  height: 100vh;
}
.projects-container {
  background-color: var(--side-bar-color);
  color: var(--main-color);
  min-height: 100vh;
}
.tasks-container {
  background-color: var(--main-color);
}

.projects-container-title {
  margin-top: 100px;
}
.tasks-container-title {
  margin-top: 100px;
}
form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  background-color: var(--header-color);
  padding: 10px;
}
.form-header {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
}
input {
  display: block;
  margin-top: 5px;
  width: 100%;
  padding: 2px 1px;
  box-sizing: border-box;
  border: none;
}
label {
  display: block;
  margin-top: 5px;
  width: 100%;
  font-size: 0.8em;
}

select {
  display: block;
  font-family: "Manrope", sans-serif;
  margin-top: 5px;
  width: 100%;
}

input[type="date"] {
  font-family: "Manrope", sans-serif;
}

button[type="submit"] {
  width: 80px;
  margin-top: 5px;
  margin-left: calc(100% - 80px);
  display: block;
  color: var(--main-color);
  background-color: var(--side-bar-color);
  border: none;
  border-radius: 2px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  padding: 2px;
}

.new-project {
  width: 70%;
}

.projects > :first-child > button {
  display: none;
}
