.visible {
  display: block;
}

.selected {
  background-color: beige;
}

.hidden {
  display: none;
}

.activated {
  background-color: blue;
}

.completed {
  text-decoration: line-through;
  background-color: #c8bcd6;
}
