:root {
  --main-color: #f3e8ff;
  --side-bar-color: #221d25;
  --header-color: #907ea5;
  --focus-color: #c8bcd6;
  --margins: 5px;
}
.visible {
  display: block;
}

.hidden {
  display: none;
}

.activated {
  background-color: var(--main-color);
  color: #221d25;
}

.completed {
  text-decoration: line-through;
  background-color: #c8bcd6 !important;
}

.selection {
  background-color: var(--focus-color) !important;
}
